/* ================== GLOBAL ================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

a {
    color: inherit;
    text-decoration: none;
}

.page-wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* ================== HEADER ================== */

.header {
    color: #666666;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 55px;
}

.nav-group-logo {
    color: #cd23b3;
    font-style: italic;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-group-page-items {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    width: 610px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}

.nav-group-page-items a {
    padding: 4px 8px;
}

.nav-group-page-items a:hover {
    background-color: rgb(106, 215, 235);
}

.nav-group-social-icons {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ================== HOME (index.html) ================== */

.section-home {
    /* 100vh - tamanho header */
    min-height: calc(100vh - 55px); 
    display: flex;
    align-items: center;
}

.section-home-item {
    flex-grow: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #010105;
    display: flex;
    justify-content: space-between;
}

.my-name {
    color: #673b0ff3;

}
 p {
    font-size: 20px; 
 }


.profile-img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
}


/* ================== ABOUT ME (about.html) ================== */

.section-about {
    font-family: 'Poppins', sans-serif;
    /* 100vh - tamanho header */
    min-height: calc(100vh - 55px);
    width: 710px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.section-about-work-item {
    height: 75px;
    border-bottom: 2px solid lightgray;
    margin-top: 15px;
}

.section-about-work-item-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.section-about-work-item-content {
    display: flex;
}

.section-about h1 {
    font-size: 36px;
    color: #010105;
    margin: 32px 0;
}

.section-about h2 {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}

html body .section-about-time-tag { /* Just to add selector priority */
    color: #0722a8;
    background-color: #d7f1ff;
    border-radius: 20px;
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px 0px rgba(102,102,102,1);
}

.section-about p {
    font-size: 18px;
    color: #666666;
}

.section-about span {
    font-size: 12px;
    font-weight: 500;
    color: #a7a7a7;
}

.content-work {
    width: 250px;
}

.content-data {
    margin-left: auto;
}

/* ================== Tech Stack (stack.html) ================== */

.section-stack {
    font-family: 'Poppins', sans-serif;
    /* 100vh - tamanho header */
    min-height: calc(100vh - 55px);
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.section-stack h1 {
    font-size: 36px;
    color: #010105;
    margin: 20px 0;
}

.section-stack p {
    font-size: 18px;
    color: #373030;
    margin-right: 10px;
}

.section-stack-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.icons-techs{
    width: 100px;
    height: 100px;
}

/* ================== Projects (projects.html) ================== */

.section-projects {
    font-family: 'Poppins', sans-serif;
    /* 100vh - tamanho header */
    min-height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 50px;
}

.section-projects-intro {
    margin-bottom: 100px;
}

.section-projects h1 {
    font-size: 36px;
    color: #010105;
    margin: 32px 0;
}

.section-projects p {
    font-size: 18px;
    color: #666666;
}

.section-projects-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card {
    overflow: hidden;
    width: 375px;
    background-color: white;
    border-radius: 20px;
    margin-top: 48px;
    box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
}

.project-card-content {
    padding: 24px;
    padding-bottom: calc(24px - 7px);
    transform: translateY(-7px);
}

.project-card h2 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 8px 0;
}

.project-card p {
    font-weight: 300;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.project-card-content .project-card-content-stacks {
    color: #010105;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 16px;
}

.project-card-content-stacks span {
    font-weight: 400;
}

.project-card-links {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: underline;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card-links a {
    display: flex;
    align-items: center;
}

.project-card-links a img {
    margin-right: 10px;
}